<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% if (typeof(header) == 'undefined') { %><title>A Dogs Breeds blog</title> <% }
       else { %> <title><%=header.tagLine%></title> <%
    } %>
    <link rel="shortcut icon" href="/images/favicon.ico">
    <link rel="stylesheet"
        <% if (typeof(pageCss) != 'undefined' && pageCss == 'admin')
            {
                %> href="/css/admin.css" <%
            }
            else
            {
                %> href="/css/main.css" <%
            }
        %>>
    <% if (typeof(addOn) != 'undefined' && addOn == 'tinymce')
        { 
        %>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script src="/js/tinymce/jquery.tinymce.min.js"></script>
            <script src="/js/tinymce/tinymce.min.js"></script>
            <script>
                $(document).ready(function(){
                    tinymce.init({
                    selector: '#_pageContent',
                    height: 500,
                    menubar: false,
                    plugins: [
                        'advlist autolink lists link image charmap print preview anchor',
                        'searchreplace visualblocks code fullscreen',
                        'insertdatetime media table paste code help wordcount'
                    ],
                    toolbar: 'undo redo | formatselect | ' +
                    'bold italic backcolor | alignleft aligncenter ' +
                    'alignright alignjustify | bullist numlist outdent indent | ' +
                    'removeformat | help',
                    content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:14px }'
                    });
                });
            </script>
        <%
        }
    %>
</head>
<body>
    <header>
        <a name="top"></a>
        <%
        if (typeof(header) != 'undefined')
        {
            %>
            <a href="/"><img src="/images/<%=header.logoImgName%>" alt="<%=header.tagLine%>"></a><br>
            <h2><%=header.tagLine%></h2>
            <%
        }
        else
        {
            %>
            <a href="/"><img src="/images/ILoveDogs-logo.png" alt="Dogs Breeds"></a><br>
            <h2>Dogs Breeds blog</h2>
            <%
        }
        %>
    </header>