<%- include('layouts/header') -%>
    <main>
        <%- include('layouts/main-nav') -%>

        <aside>
            <%- include('layouts/aside-nav') -%>
        </aside>

        <section>
            <h2>About Us</h2>
            <p>This is a wonderful website if you're looking for a purebred dog or a rare dog. 
                The breed summaries give you a brief but fascinating glimpse into the history, 
                appearance and care of each breed.</p>
            <h3>Browse the breed to find the details of each one.</h3>
        </section>
    </main>
<%- include('layouts/footer') -%>