<%- include('layouts/header') -%>
    <main>
        <%- include('layouts/main-nav') -%>

        <aside>
            <%- include('layouts/aside-nav') -%>
        </aside>

        <section>
            <h2>Border Collie</h2>
            <img src="images/Border-Collie.jpg" alt="Border Collie" title="Border Collie">
            <p style="font-size: 90%; font-style: italic;"><strong>Appearance:</strong> 19-22" (48-56 cm) 30-45 lb (12-20 kg) Double coat that varies in length. 
                Outercoat can be long, medium or short. Innercoat is short and dense. All colours and 
                mixes of colours acceptable: black and white, blue and white, chocolate and white, red 
                and white, blue merle, tricolour (black, tan, white).</p>
            <h3>Personality</h3>
            <p>Considered one of the most intelligent breeds, the Border Collie can think for himself and is first 
                and foremost a working dog. He needs mental stimulation to be happy, whether working with sheep or 
                in obedience and agility trials. Because of his herding instinct, a Border Collie tends to herd anyone 
                and everyone around him. This makes him more appropriate for older children.</p>
            <h3>History</h3>
            <p>The Border Collie was bred to herd. Sheep herding was a significant occupation in the border country 
                between Scotland, England and Wales. When Romans introduced herding with dogs, herders began selecting 
                canines for the task and interbred a variety of specialized breeds to produce the best working sheep dog, 
                generally called a Collie. In 1894, a dog named Old Hemp, who was considered the ideal sheep dog, became 
                the founder of what is now known as the Border Collie. Prized for his trainability and”eye” (the hypnotic 
                way he stares at sheep to will them to move as desired), the breed was imported to North America in the 
                early 1900s where it became an essential working farm dog.</p>
        </section>
    </main>
<%- include('layouts/footer') -%>