<%- include('layouts/header') -%>
    <main>
        <%- include('layouts/main-nav') -%>

        <aside>
            <%- include('layouts/aside-nav') -%>
        </aside>

        <section>
            <h2>Nguyen Ha Dao</h2><br>
            <p>
                <img src="images/web.gif" alt="web address">
                <strong>Web: </strong><a href="https://www.conestogac.on.ca/">https://www.conestogac.on.ca/</a>
            </p>
            <p>
                <img src="images/telephone.gif" alt="student id">
                <strong>Student ID: </strong>8695356
            </p>
            <p>
                <img src="images/email.gif" alt="email">
                <strong>Email: </strong><a href="mailto:daonguyenha5356@conestogac.on.ca">daonguyenha5356@conestogac.on.ca</a>
            </p>
            <br>
        </section>
    </main>
<%- include('layouts/footer') -%>