<%- include('layouts/header') -%>
    <main>
        <%- include('layouts/admin-nav') -%>

        <h2>Delete Page</h2>

        <div class="message">
            <p><%= message %></p>
        </div>

    </main>
<%- include('layouts/footer') -%>