<%- include('layouts/header') -%>
    <main>
        <%- include('layouts/main-nav') -%>

        <aside>
            <%- include('layouts/aside-nav') -%>
        </aside>

        <section>
            <h2>Golden Retriever</h2>
            <img src="images/Golden-Retriever.jpg" alt="Golden Retriever" title="Golden Retriever">
            <p style="font-size: 90%; font-style: italic;"><strong>Appearance:</strong> 20-24" (51-61 cm) 55-75 lb 
                (25-34 kg) Straight or wavy, firm, dense water-resistant outercoat. Good undercoat. Neck ruff. 
                Various shades of gold and cream.</p>
            <h3>Personality</h3>
            <p>Known worldwide for his easy-going nature, the Golden Retriever is said to be born wanting to please. 
                He is an intelligent dog and one of the easiest to train. Energetic, but not excitable, the Golden enjoys 
                a good run and some games. He is wonderful with children of all ages, and pets of all sizes.</p>
            <h3>History</h3>
            <p>In the mid-1800s, the English preferred black Retrievers, but Sir Dudley Majoribanks (Lord Tweedmouth) 
                decided to develop a golden coloured wavy-coated version. He purchased a yellow Flat-Coated Retriever 
                and bred it to the Tweed Water Spaniel, a now-extinct, curly coated light-coloured breed. The resulting 
                dogs were then crossed to other light-coloured breeds such as Yellow Labradors, Red Setters and other 
                Wavy-Coated Retrievers. In time, the “Golden Flat-Coat” type was established, and in 1920 renamed the 
                Golden Retriever. The breed came to North America in the 1920s and immediately gained a following. 
                Golden Retrievers are one of the world’s most popular breeds and frequently used as service dogs because 
                of their kind intelligent personalities.</p>
        </section>
    </main>
<%- include('layouts/footer') -%>