<%- include('layouts/header') -%>
    <main>
        <%- include('layouts/main-nav') -%>

        <aside>
            <%- include('layouts/aside-nav') -%>
        </aside>

        <section>
            <table>
                <tr>
                    <td><img src="images/Border-Collie.jpg" alt="Border Collie" title="Border Collie"></td>
                    <td><img src="images/Ibizan-Hound.jpg" alt="Ibizan Hound" title="Ibizan Hound"></td>
                </tr>
                <tr>
                    <td><img src="images/American-Eskimo-Dog.jpg" alt="American Eskimo" title="American Eskimo"></td>
                    <td><img src="images/Golden-Retriever.jpg" alt="Golden Retriever" title="Golden Retriever"></td>
                </tr>
                <tr>
                    <td><img src="images/Japanese-Chin.jpg" alt="Japanese Chin" title="Japanese Chin"></td>
                    <td><img src="images/Akita.jpg" alt="Akita" title="Akita"></td>
                </tr>
                <tr>
                    <td><img src="images/Shiloh-Shepherd.jpg" alt="Shiloh Shepherd" title="Shiloh Shepherd"></td>
                    <td><img src="images/Bull-Terrier.jpg" alt="Bull Terrier" title="Bull Terrier"></td>
                </tr>
            </table>
            <br><br>
        </section>
        
    </main>
<%- include('layouts/footer') -%>